* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, #040404, #040404);
}

.calculator-body {
  width: 380px;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0px 2px 5px rgba(247, 244, 244, 0.4);
}

.calculator {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 18px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 0px 10px rgba(248, 248, 248, 0.717);
}

input {
  font-size: 32px;
  text-align: right;
  border-radius: 12px;
  padding: 12px 15px;
  border: none;
  background: rgb(255, 255, 255);
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  font-size: 22px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: #333;
  font-weight: 600;
  transition: 0.15s;
  /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(255, 255, 255, 0.8); */
}

button:hover {
  transform: translateY(-3px);
  /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3),
    -4px -4px 12px rgba(255, 255, 255, 0.9); */
}

button:active {
  transform: scale(0.98);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.operator-button {
  background: orange;
}

#equal-sign {
  grid-column: span 2;
  background: #ff4e4e;
  color: white;
  font-weight: 700;
}

#equal-sign:hover {
  background: #e33737;
}
